ol {
    margin-left: -40px;
    margin-top: -20px;
    font-family: "Arial";
    list-style-position: inside;
}

#red {
    color: red;
}

#blue {
    color:blue
}

#orange {
    color: orange
}

#green {
    color:green
}

#yellow {
    color: yellow;
}

img {
    height: 200px;
    width: 200px;
}

.color-title {
    font-weight: normal;
}